header {
    display: flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

#logo {
    width: 60px;
    height: 60px;
}

header nav a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #f25a70;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow:  5px 5px 0px #000;
    margin-right: 0;
    transition: 200ms;
}

#button:hover {
    transform: translateY(-2px);
    background-color: #f5445f;
}