:root {
--principal:#c14cf5 ;
--secundaria:#d166f8 ;
--terceira:#e080fa;
--quarta:#f099fd;
--quinta:#ffb3ff;
/* Para utilizá-las deve-se usar o termo 'var()' */
/* ex: color: var(--principal) */
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #cb2df7;
    border-bottom: 10px solid var(--terceira);
    padding: 10px 20px;
}

#logo {
    width: 60px;
    height: 60px;
}

header nav a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #ff8fff;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #ba0cf4;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow:  5px 5px 0px #000;
    margin-right: 0;
    transition: transform 200ms linear;
}

#button:hover {
    transform: translateY(-2px);
    background-color: #dd4efa;
    cursor: pointer;
}

.container-Banner {
    width: 100%;
    height: 500px;
    background-image: url('https://assets.skatevideo.site/covers/adidas-folkets-by-heitor-da-silva-26051.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

.conteudo-banner {
    position: absolute;
    color: #fff;
    background-color: var(--principal);
    padding: 20px;
    box-shadow: 5px 5px 0px var(--secundaria);
    font-family: "Press Start 2P",sans-serif;
    text-align: center;
    top: 80px;
    left: 80px;
}
.conteudo-banner h1 {
    color: var(--quinta);
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 10px;
}

#container-btns {
    position: absolute;
    top: 220px;
    left: 130px;
}

.button-banner {
    display: inline-block;
    background-color: #ba0cf4;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow:  5px 5px 0px var(--secundaria);
    margin-right: 0;
    transition: transform 200ms linear;
    text-decoration: none;
    color: #fff;
    font-family: "Fira Code",sans-serif;
    font-weight: 500;

}
.button-banner:hover {
    transform: translateY(-2px);
    background-color: #dd4efa;
    cursor: pointer;
}

#btn-banner1 {
    margin-right: 80px;
}
