.box {
    display: inline-block;
    background-color: var(--quarta);
    opacity: -10px;
    padding: 42px 44px;
    box-shadow: 10px 10px 0 var(--secundaria);
    text-align: center;
}

.box .title {
    margin-bottom: 28px;
}
