.button {
    display: inline-block;
    font-family: "Fira Code", sans-serif;
    font-size: 20px;
    font-weight: 500;
    background-color: var(--principal);
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    box-shadow:  5px 5px 0px #000;
    margin-right: 0;
    transition: transform 200ms linear;
    text-decoration: none;
    color: #fff;
}

.button:hover {
    transform: translateY(-2px);
    background-color:var(--secundaria);
    color: #000;
    cursor: pointer;
}
