.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--quarta);
    border-bottom: 10px solid var(--principal);
    padding: 10px 20px;
    font-family: "";
}
